<div class="container"><hr></div>

<section class="about has-text-centered" id="about">
    <div class="container">
        <h3 class="title has-text-primary">عن الموقع</h3>
        <div class="article is-size-5">
            <span class="has-text-info">قال الشيخ <a href="https://bit.ly/3Dr8yqU" class="is-underlined">عبدالعزيز بن باز</a> رحمه الله:</span>  
            على جميع الأمة حكماء وعلماء وتجار وغيرهم، أن يبلغوا عن الله ورسوله ﷺ – هذا 
            الدين وأن يشرحوه للناس بشتى اللغات الحية المستعملة بأساليب واضحة، وأن يشرحوا محاسن الإسلام، وحكمه وفوائده ،
            وحقيقته حتى يعرفه أعداؤه، وحتى يعرفه الجاهلون، وحتى يعرفه الراغبون فيه. انتهى
            <br>لأجل هذا كان هذا <a href="#" class="is-underlined has-text-success">الموقع</a> 
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container has-text-centered">
        <div class="columns">
            <div class="column">
                <p class="subtitle is-5">تابعنا على:</p>
                <div>
                    <a href="https://bit.ly/youtube-Glorious-Religion"><i class='bx bxl-youtube has-text-danger'></i></a>
                    <a href="https://bit.ly/Telegram-Glorious-Religion"><i class='bx bxl-telegram has-text-info'></i></a>
                    <a href="https://www.patreon.com/GloriousReligion"><i class='bx bxl-patreon' style='color:#ff0000'></i></a>
                </div>
            </div>
            <div class="column">
                <p class="subtitle is-5">للتواصل:</p>
                <div>
                    <a href="mailto:GloriousReligion@site.com">GloriousReligion@site.com</a>
                </div>
            </div>
            <div class="column">
                <p class="subtitle is-5">الترجمة الحرفية | literal translation</p>
                <div>
                    <div id="google_translate_element" lang="en"></div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="licens is-success">
    <div class="content has-text-centered has-text-white">
        <p>لا تنسونا من صالح دعائكم</p>
    </div>
</div>