<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item logo" href="#">
            <img src="/assets/images/logo.png">
        </a>

        <a class="navbar-burger" onclick="navshow()">
            <span class='bx-flashing'></span>
            <span class='bx-flashing'></span>
            <span class='bx-flashing'></span>
        </a>
    </div>

    <div id="nav" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/"><i class='bx bxs-home has-text-success'></i> الرئيسية</a>
            <a class="navbar-item" href="/blog/"><i class='bx bxs-book-content bx-tada has-text-info'></i> جميع المقالات</a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-item is-arrowless"><i class="fas fa-language has-text-primary"></i> Language | اللغة</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item"><i class="fas fa-globe-asia has-text-primary"></i> عربي</a>
                    <a class="navbar-item"><i class="fas fa-globe-europe has-text-primary"></i> English</a>
                </div>
            </div>
            <a class="navbar-item" href="#about"><i class='bx bxs-info-circle has-text-warning'></i> عن الموقع</a>
            <a class="navbar-item" href="#about"><i class='bx bxs-info-circle has-text-warning'></i> الملف التعريفي والدورات</a>
        </div>

        <div class="navbar-end">
            <div class="buttons">
                <a class="button is-primary is-outlined" href="https://www.patreon.com/GloriousReligion"><i class='bx bxs-dollar-circle bx-tada has-text-success'></i> لدعم الموقع</a>
            </div>
        </div>
    </div>
</nav>

<div class="pops-conatainer" id="Zekr-pop">
    <div class="notification notifications noti1 is-link">
        <button class="delete" onclick="this.parentElement.style.display='none'"></button>
        <p></p>
    </div>
</div>