---
title: 'المقالات'
layout: 'base.njk'
---
<section class="All-Articles">
    <div class="container">
        <h3 class="title has-text-centered has-text-primary">المقالات | Articles</h3>
        <br>
        <div class="field">
            <div class="control is-expanded has-icons-right">
                <input class="input is-success" type="search" placeholder="بحث | Search" onkeyup="searcher()" id="Search"/>
                <span class="icon is-small is-right"><i class='bx bx-search bx-tada'></i></span>
            </div>
        </div>
        <br>
        <div class="columns is-multiline">
            {%- for post in collections.مقال -%}
                {% include 'article-snippet.njk' %}
            {%- endfor -%}
        </div>
    </div>
</section>

<ul id="pagin"></ul>

<script type="text/javascript">
    pageSize = 18;
    var pageCount =  $(".column.is-4").length / pageSize;
    for(i = 0 ; i<pageCount;i++){
        $("#pagin").append('<li><a href="#">'+(i+1)+'</a></li>');
    }
    $("#pagin li").addClass("current")
    showPage = function(page) {
        $(".column.is-4").hide();
        $(".column.is-4").each(function(n) {
        if (n >= pageSize * (page - 1) && n < pageSize * page)
            $(this).show();
        });        
    }
    showPage(1);
    $("#pagin li").click(function() {
        $("#pagin li").removeClass("current");
        $(this).addClass("current");
        showPage(parseInt($(this).text())) 
    });
</script> 