---
    title: "موقع الدين المجيد | الرئيسية" 
    langs: "ar" 
    dire: "rtl"
    layout: "base.njk"
---


<section class="hero is-success has-text-centered">
    <div class="hero-body infoer">
        <p class="title aya" id="aya"></p>
        <br><h1 class="subtitle is-size-4">مرحبا بكم في " الدين المجيد "</h1>
    </div>
</section>

<section class="carder">
    <div class="container">
        <h3 class="title has-text-centered has-text-primary">مقالات مقترحه</h3>
        <div class="card-parent columns">
            <div class="column is-4">
                <div class="card-image">
                    <img src="assets/images/background.jpg" alt="Placeholder image">
                </div>
                <div class="card-content">
                    <div class="content">
                        <a class="is-size-4" href="All-Articles/1/"> عنوان المقال</a>
                        <p class="description">وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال</p>
                        <time datetime="">تاريخ النشر: 2022/3/4</time>
                        <view viewnumber="">عدد مرات القراءة: 70M</view>
                        <langs langs="">اللغات: <span class="tag is-primary">عربي</span> <span class="tag is-primary">English</span></langs>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card-image">
                    <img src="assets/images/background.jpg" alt="Placeholder image">
                </div>
                <div class="card-content">
                    <div class="content">
                        <a class="is-size-4" href="All-Articles/1/"> عنوان المقال</a>
                        <p class="description">وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال</p>
                        <time datetime="">تاريخ النشر: 2022/3/4</time>
                        <view viewnumber="">عدد مرات القراءة: 70M</view>
                        <langs langs="">اللغات: <span class="tag is-primary">عربي</span> <span class="tag is-primary">English</span></langs>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card-image">
                    <img src="assets/images/background.jpg" alt="Placeholder image">
                </div>
                <div class="card-content">
                    <div class="content">
                        <a class="is-size-4" href="All-Articles/1/"> عنوان المقال</a>
                        <p class="description">وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال</p>
                        <time datetime="">تاريخ النشر: 2022/3/4</time>
                        <view viewnumber="">عدد مرات القراءة: 70M</view>
                        <langs langs="">اللغات: <span class="tag is-primary">عربي</span> <span class="tag is-primary">English</span></langs>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card-image">
                    <img src="assets/images/background.jpg" alt="Placeholder image">
                </div>
                <div class="card-content">
                    <div class="content">
                        <a class="is-size-4" href="All-Articles/1/"> عنوان المقال</a>
                        <p class="description">وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال</p>
                        <time datetime="">تاريخ النشر: 2022/3/4</time>
                        <view viewnumber="">عدد مرات القراءة: 70M</view>
                        <langs langs="">اللغات: <span class="tag is-primary">عربي</span> <span class="tag is-primary">English</span></langs>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="content has-text-centered">
            <a href="All-Articles/" class="button is-primary">عرض جميع المقالات</a>
        </div>
    </div>
</section>

<div class="container"><hr></div>

<section class="carder">
    <div class="container">
        <h3 class="title has-text-centered has-text-primary">احدث المقالات</h3>
        <div class="card-parent columns">
            <div class="column is-4">
                <div class="card-image">
                    <img src="assets/images/background.jpg" alt="Placeholder image">
                </div>
                <div class="card-content">
                    <div class="content">
                        <a class="is-size-4" href="All-Articles/1/"> عنوان المقال</a>
                        <p class="description">وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال</p>
                        <time datetime="">تاريخ النشر: 2022/3/4</time>
                        <view viewnumber="">عدد مرات القراءة: 70M</view>
                        <langs langs="">اللغات: <span class="tag is-primary">عربي</span> <span class="tag is-primary">English</span></langs>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card-image">
                    <img src="assets/images/background.jpg" alt="Placeholder image">
                </div>
                <div class="card-content">
                    <div class="content">
                        <a class="is-size-4" href="All-Articles/1/"> عنوان المقال</a>
                        <p class="description">وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال</p>
                        <time datetime="">تاريخ النشر: 2022/3/4</time>
                        <view viewnumber="">عدد مرات القراءة: 70M</view>
                        <langs langs="">اللغات: <span class="tag is-primary">عربي</span> <span class="tag is-primary">English</span></langs>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card-image">
                    <img src="assets/images/background.jpg" alt="Placeholder image">
                </div>
                <div class="card-content">
                    <div class="content">
                        <a class="is-size-4" href="All-Articles/1/"> عنوان المقال</a>
                        <p class="description">وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال</p>
                        <time datetime="">تاريخ النشر: 2022/3/4</time>
                        <view viewnumber="">عدد مرات القراءة: 70M</view>
                        <langs langs="">اللغات: <span class="tag is-primary">عربي</span> <span class="tag is-primary">English</span></langs>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card-image">
                    <img src="assets/images/background.jpg" alt="Placeholder image">
                </div>
                <div class="card-content">
                    <div class="content">
                        <a class="is-size-4" href="All-Articles/1/"> عنوان المقال</a>
                        <p class="description">وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال</p>
                        <time datetime="">تاريخ النشر: 2022/3/4</time>
                        <view viewnumber="">عدد مرات القراءة: 70M</view>
                        <langs langs="">اللغات: <span class="tag is-primary">عربي</span> <span class="tag is-primary">English</span></langs>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="content has-text-centered">
            <a href="All-Articles/" class="button is-primary">عرض جميع المقالات</a>
        </div>
    </div>
</section>