---
    title: "موقع الدين المجيد | الرئيسية" 
    layout: "base.njk"
---


<section class="hero is-success has-text-centered">
    <div class="hero-body infoer">
        <p class="title aya" id="aya"></p>
        <br><h1 class="subtitle is-size-4">مرحبا بكم في " الدين المجيد "</h1>
    </div>
</section>

<section class="carder">
    <div class="container">
        <h3 class="title has-text-centered has-text-primary">مقالات مقترحه</h3>
        <div class="card-parent columns">
            {%- for post in collections.مقترح -%}
                {% include 'article-snippet.njk' %}
            {%- endfor -%}
        </div>
        <br>
        <div class="content has-text-centered">
            <a href="/blog" class="button is-primary">عرض جميع المقالات</a>
        </div>
    </div>
</section>

<style>
    .padded{
        margin: 0px;
        box-shadow: none;
        margin-top: 0px;
    }
</style>