
<section class="Article-box">
    <div class="container">
        <div class="article-content">
            <h1 class="main-title">عنوان المقال</h1>

            <h2 class="subTitle">عنوان فرعي</h2>

            <article class="article">الفقرة الرئيسية Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quaerat porro pariatur, ut quidem praesentium sit ratione totam nisi impedit dignissimos ex obcaecati? Doloribus repellat rerum incidunt excepturi fugit molestias.</article>
            
            <article class="sub-article">فقرة فرعية Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde autem fuga nam et qui animi rem explicabo suscipit, voluptatem similique eum! Ipsum quos, culpa quia ab neque vel aliquam ut!</article>
        
            <a href="" class="link" target="_blank">رابط</a>
        
            <ul class="uls">
                التشعبات التاليه:
                <li class="lis num">تشعبات</li>
                <li class="lis num">تشعبات</li>
                <li class="lis dot">تشعبات</li>
                <li class="lis dot">تشعبات</li>
            </ul>

            <div class="images">
                <img src="https://www.w3schools.com/howto/img_fjords.jpg" alt="اسم الصورة" class="is-full">
            </div>

            <div class="images">
                <img src="https://www.pixsy.com/wp-content/uploads/2021/04/edi-libedinsky-1bhp9zBPHVE-unsplash-1-1024x683.jpeg" alt="اسم الصورة" class="is-med">
            </div>
            
            <div class="images">
                <img src="https://www.w3schools.com/howto/img_fjords.jpg" alt="اسم الصورة" class="is-small">
            </div>


            <p class="green">اخضر</p>
            <p class="red">احمر</p>
            <p class="blue">ازرق</p>

            <p class="underlined">مسطر</p>

        </div>

        <div class="article-analize container">
            <div class="columns">
                <div class="column">
                    <p class="subtitle is-6"><i class='bx bxs-book-content has-text-primary'></i>مرات القرائة: <span>20K</span></p>
                </div>
                <div class="column">
                    <p class="subtitle is-6"><i class='bx bx-world has-text-primary'></i>اللغات: <span class="tag is-primary">عربي</span> <span class="tag is-primary">English</span></p>
                </div>
                <div class="column">
                    <p class="subtitle is-6"><i class='bx bxs-time has-text-primary'></i> تاريخ النشر: <span>2022/3/4</span></p>
                </div>
                <div class="column">
                    <p class="subtitle is-6"><i class='bx bxs-user-pin has-text-primary'></i> اسم الناشر: <span>عبدالمجيد سلامة</span></p>
                </div>
            </div>
        </div>
    </div>
</section>